{
  "connectionInfo": {
    "host"     : "localhost",
    "user"     : "root",
    "password" : "mysql",
    "database" : "bitel_ecommerce"
  },
  "worker" : {
    "interval": 5000,
    "timeOut": 5000,
    "maxTries": 5
  },
  "queue": {
    "table": "jobs",
    "name": "porta",
    "delay": 60
  },
  "ssl": {
    "key": "/u01/app/notific/ssl/bitel.com.pe.key",
    "cert": "/u01/app/notific/ssl/bitel.com.pe.crt" 
  },
  "servers": ["https://10.121.6.249:8443", "https://10.121.6.251:8443"]
}